#info {
  text-align:center;
}

#git{
  text-align:center;
}

#map {
  border: thin solid black;
  height: 500px;
  width: 500px;
}

.icons{
  height: 20px;
  width: 20px;
}

#fact-container {
  text-align:center;
}

#greeting-container {
  text-align:center;
  margin-top: 20px;
}

#clickBttn {
  text-align:center;
}

#comment-submit-form-group {
  text-align:center;
}

#content {
  margin-left: auto;
  margin-right: auto;
  width: 950px;
}

#top-content {
  margin-left: auto;
  margin-right: auto;
  width: 950px;
}

#myimage {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

#txt {
  margin-left: auto;
  margin-right: auto;
}

#comments-sect {
  width: 80%;
  text-align:center;
  margin-left: auto;
  margin-right: auto;
}

#map {
  border: thin solid black;
  height: 500px;
  width: 100%;
}

#networks{
  text-align:center;
}

#top-content{
  text-align:center;
}

body{margin-top:20px;}

#comment-image{
  height: 50px;
  width: 50px;
}    



